/BookShopByKg/appsettings.json
/BookShopByKg/BookShopByKg.sln
/BookShopByKg/BookShopByKg.csproj
/BookProject.sln
/BookShopByKg/ScaffoldingReadMe.txt
/BookShopByKg/appsettings.Development.json
/BookShopByKg/obj
/BookShopByKg/bin